[Service]
ExecStart=/usr/bin/node {{ node_app_path }}/{{ node_app_main }}
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory={{ node_app_path }}
SyslogIdentifier={{ node_app_name }}
User={{ node_app_user }}
Group={{ node_app_group }}
{% for env in node_app_env %}
Environment={{ env }}
{% endfor %}

[Install]
WantedBy=multi-user.target